.nav-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

.active{
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(180, 152, 152, 0.2);
    /* linear gredient backgroud */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
